/************************* BASICS **************************/

*{
    box-sizing: border-box;
}

html{
    font-family:"Arial", cursive;
}

body{
    width:960px;
    margin:0 auto;
    background-color: #38205e;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }

ul{
    list-style:none;
}

img{
    width:100%;
    height: 100%;
}

/********************** SECTIONS ***********************/

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.item{
    width: 100%;
}

/************************* CSS BASIC **************************/

h3 {
    text-align: center;
    color: ghostwhite;
}

.btn_violet{
    transition-duration: 0.4s;
    background-color: #38205e;
    font: 14px sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border: none;
}

.btn_violet:hover{
    background-color: #ffffff;
    color: #38205e;
}

.btn_blanc{
    transition-duration: 0.4s;
    background-color: #ffffff;
    font: 14px sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    color: #38205e;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border: none;
}

.btn_blanc:hover{
    background-color: #38205e;
    color: #ffffff;
    border: #ffffff;
}




/************************** TIMER ***************************/

.item_timer{
    padding: 0.5em;
    width: 30%;
}

.label_timer{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: ghostwhite;
}

.img_timer{
    width:35%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.countdown{
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: yellow;
}

.btnstimer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

/********************* LIST ACTIVITIES **********************/

.item_list{
    padding: 0.5em;
    width: 30%;
    height: 700px;
    overflow-y: scroll;
}

.margin_top {
    margin-top: 20px;
}

.form_input{
    background-color: lightgray;
    margin: 4px 2px;
    padding: 16px 32px;
    width: 100%;
    border: none;
}


