#create_new_activity {
    display: none;
}
#create_new_activity textarea {
    width: 100%;
    font-size: small;

}
.list_element{
    width: 100%;
    color: #fff;
    font-weight: bold;
}

.list_element :hover{
    background-color: #fff;
    color: #38205e;
    cursor: pointer;
}

.list_element a:hover{
    color: #38205e;
}

.list_element:active{
    background-color: #fff;
    color: #38205e;
}

ul {
    list-style: none;
    align-content: center;
    width: 100%;
}

